<% if current_user.present? %>
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">Friends Portal</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link friends active" aria-current="page" href="<%= root_path %>">Friends (<%= @friends_count %>)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link requests" aria-current="page" href="<%= root_path %>">Requests (<%= @friend_requests %>)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link find_friends" aria-current="page" href="<%= root_path %>">Find Friends</a>
        </li>
      </ul>
      <div class="dropdown d-flex">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          <%= current_user.username %>
        </a>

        <ul class="dropdown-menu  dropdown-menu-end" aria-labelledby="dropdownMenuLink">
          <li>
            <%= link_to 'Logout', destroy_user_session_path, data: { "turbo-method": :delete } , class: 'dropdown-item' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<% end %>


